<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 bg-dark text-white min-vh-100 p-3">
      <h4>Task Manager</h4>

      <hr>

      <ul class="nav flex-column">

        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link text-white">
            Dashboard
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/projects" class="nav-link text-white">
            Projects
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/tasks" class="nav-link text-white">
            Tasks
          </a>
        </li>

      </ul>
    </div>

    <div class="col-md-10 p-4">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>